* {
    box-sizing: border-box;
}
html, body {
  margin: 0;
  display: block;
  height: 100%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
img{
  width: 100%;
}

.header {
  position: relative;
  z-index: 1;
  height: 6%;
  width: 100%;
  border: 1px solid black;
  margin: auto;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  float: left;
}
.header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  font-size: 1.8vw;
  position: relative;
}

.header ul::after{
  clear: both;
}

.header ul li{
  float: left;
  margin-right: 0.5em;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}
.header ul li a{
  color: black;
}
.header ul li a:hover{
  color: #333;
}

.header::after{
  clear: both;
}

.footer{

  position: relative;
  height: 6%;
  width: 100%;
  border: 1px solid black;
  margin: auto;
  overflow: hidden;
  bottom:0;
  float:left;
}

.credit {
  text-align: right;
  padding-top: 0px;
  padding-right: 20px;
  font-size: 1.5vw;
}

.home{

  height: 88%;
  width: 100%;
  display: block;
  bottom: 0;
  position: relative;
  float:left;
}

:local(.carousel) {
    height: 60vh;
    width: 65%;
    float: left;
    border: 1px solid red;
    text-align: center;
}

:local(.carousel .img img) {
  max-width: 100%;
  max-height:100%;
  height: auto;
  width: auto;
  image-rendering: -webkit-optimize-contrast;
}

.login {
    height: 60vh;
    padding-top: 80px;
    width: 35%;
    float: left;
    max-width: 100%;
    border: 1px solid blue;
    text-align: center;
}

.login .img{
  height: 30%;
  width: 100%;
}

.login .img img{

  max-width: 80%;
  max-height:80%;
  height: auto;
  width: auto;
  image-rendering: -webkit-optimize-contrast;


}
:local(.auth){
  height: 70%;
  width: 100%;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow:hidden;
  border-radius: 3
}
.auth p{
  font-size: 2vw;
  height: 100%;
  width: 100%;
}
.input{
  padding-bottom:1vw;
  height: 100%;
  width: 100%;
}
.form-space{
  padding-bottom:0vw;
}


input[type="text"] {
  border: 0;
  border-bottom: 1px solid black;
  outline: 0;
  font-size: 1.5vw;
  display:inline;
  max-width: 280px;

}
input[type="submit"] {
    font-size: 1.5vw;
}

.project_name{
  font-size: 50px;
  float: left;
}
.start_date{
  float: right;
}
.images{
  float: left;
}
.stylist_associate{
  float: right;
}
.budget{
  float: left;
}

.active_project{
  border: 2px solid #ccc;
  margin-bottom: 20px;
}

.home_text{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
